# Anify Backend Environment Variables

# Basic environment variables
# --------------------------

# The environment to run the server in.
# Possible values: "development", "production", "test"
# Default: "development"
NODE_ENV=development

# The port to run the server on.
# Must be a valid number
# Default: "3000"
PORT=3000

# The URL of the database to connect to.
# Must be a valid PostgreSQL connection URL
DATABASE_URL=

# The URL of the Redis server to connect to.
# Must be a valid Redis connection URL
REDIS_URL=

# The time in seconds to cache data in Redis.
# Must be a valid number
# Default: "604800" (7 days)
REDIS_CACHE_TIME=604800

# Whether to enable debug mode.
# Possible values: "true", "false"
# Default: "false"
DEBUG=false

# Optional, additional environment variables
# ---------------------------------------

# Whether to use Mixdrop for fetching videos.
# Possible values: "true", "false"
# Default: "false"
USE_MIXDROP=false

# Mixdrop email for fetching videos.
# Optional
MIXDROP_EMAIL=

# Mixdrop key for fetching videos.
# Optional
MIXDROP_KEY=

# Whether to enable proxy rotation.
# Possible values: "true", "false"
# Default: "false"
PROXY_CRON_ENABLED=false

# Environment variables for mapping providers
# ----------------------------------------

# NovelUpdates login credentials
# Optional
NOVELUPDATES_LOGIN=