node_modules
*.js
*.d.ts
*.md
*.json
*.lock
*.yml
*.yaml
*.png
Dockerfile
Dockerfile.*
.eslintrc
*.html
.env.example
.gitignore
bun.lockb
.prettierignore
.DS_Store
tsconfig.tsbuildinfo
src/lib/impl/local/impl/data/*
*.mp3
*.ttf
*.epub
*.pdf
*.jpg
*.toml